{% extends 'base.html' %}
{% load static %}

{% block extra-head %}
<link
    rel="stylesheet"
    href="{% static 'hotel/css/habitaciones_all.css' %}"
>

<link
    rel="stylesheet"
    href="{% static 'hotel/css/components/room_card.css' %}"
>
{% endblock %}

{% block title %}
Habitaciones en Madrid | By Colección
{% endblock %}

{% block description %}
Explora las colecciones de By Colección y encuentra habitaciones
premium en Madrid con espacios cuidadosamente diseñados para una
estancia cómoda y tranquila.
{% endblock %}

{% block content %}


<section class="collection collection-tolima">

    <header class="collection-header">

        <span>
            Colección
        </span>

        <h2>
            Tolima
        </h2>

    </header>


    <div class="rooms-slider">

        {% for habitacion in habitaciones_tolima %}

            <div class="rooms-slider-item">

                {% include "hotel/components/room_card.html" with habitacion=habitacion %}

            </div>

        {% empty %}

            <div class="collection-empty">

                <span>
                    By Colección
                </span>

                <p>
                    En este momento no hay habitaciones para mostrar
                    en la colección Tolima.
                </p>

            </div>

        {% endfor %}

    </div>

</section>


<section class="collection collection-barichara">

    <header class="collection-header">

        <span>
            Colección
        </span>

        <h2>
            Barichara
        </h2>

    </header>


    <div class="rooms-slider">

        {% for habitacion in habitaciones_barichara %}

            <div class="rooms-slider-item">

                {% include "hotel/components/room_card.html" with habitacion=habitacion %}

            </div>

        {% empty %}

            <div class="collection-empty">

                <span>
                    By Colección
                </span>

                <p>
                    En este momento no hay habitaciones para mostrar
                    en la colección Barichara.
                </p>

            </div>

        {% endfor %}

    </div>

</section>


<section class="collection collection-haro">

    <header class="collection-header">

        <span>
            Colección
        </span>

        <h2>
            Haro
        </h2>

    </header>


    <div class="rooms-slider">

        {% for habitacion in habitaciones_haro %}

            <div class="rooms-slider-item">

                {% include "hotel/components/room_card.html" with habitacion=habitacion %}

            </div>

        {% empty %}

            <div class="collection-empty">

                <span>
                    By Colección
                </span>

                <p>
                    En este momento no hay habitaciones para mostrar
                    en la colección Haro.
                </p>

            </div>

        {% endfor %}

    </div>

</section>


{% endblock %}