{% load static %}

<title>welcome to kakashka world</title>
<link rel="stylesheet" href="{% static 'hotel/css/kakashka.css' %}">
<script src="{% static 'hotel/js/kakashka.js' %}"></script>

<body class="main">
<div class="one">
    <p>Fedora</p>
</div>

<div class="" style="background-color:red;">
    <img src="{% static 'hotel/img/alejandro.png' url%}" style="width:100%; object-fit:cover;"> <!---->
</div>




<div class="" style="background-color:green;">

        <img src="{% static 'hotel/img/alberto.jpg' url%}" style="width:100% object-fit:cover;">
<!---->
</div>

<div class="">
        <h1>Alberto Acosta</h1>
</div>
<div class="">
        <h1>Alberto Acosta</h1>
</div>

<div class="">item 4</div>

</body>


