.green{
        width: 50px;           /* Ancho de 150 píxeles */
        height: 50px;          /* Alto de 150 píxeles */
        background: green;        /* Fondo de color rojo */
        margin :10px 10px 10px 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 10px 10px 10px 10px;

}
.red{
        width: 50%;           /* Ancho de 150 píxeles */
        height: 50px;          /* Alto de 150 píxeles */
        background: red;        /* Fondo de color rojo */
        margin :10px 10px 10px 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 10px 10px 10px 10px;

}

.redmini{
        width: 40px;           /* Ancho de 150 píxeles */
        height: 40px;          /* Alto de 150 píxeles */
        background: red;        /* Fondo de color rojo */
        margin :10px 10px 10px 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 40px 40px 40px 40px;

}
.greenmini{
        width: 40px;           /* Ancho de 150 píxeles */
        height: 40px;          /* Alto de 150 píxeles */
        background: green;        /* Fondo de color rojo */
        margin :10px 10px 10px 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 40px 40px 40px 40px;

}
