{% extends 'base_dashboard.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block extra-head %}
<link rel="stylesheet" href= "{% static 'user_profile/css/book_dashboard.css' %}">
<script src="{% static 'user_profile/js/book_dashboard.js' %}"></script>
{% endblock %}

{% block content %}
{% if user.is_staff %}
    <div class=" contenedor">
        <div class="contenedor_cincuenta">

            <div class="mesures">
                <div style="padding:10px;">
                    <h6> Total reservas </h6>
                    <h1>{{total_booking_current_month}}</h1>
                </div>
            </div>

            <div class="contenedor_cuarenta">
                <div class="text_title">
                    <h3 class="">Currents Bookings </h3>
                </div>

                <div class="inline">
                    <span class="greenmini"></span>
                    <span class="" style="color:grey;">Available</span>
                    <span class="redmini"></span>
                    <span class="" style="color:grey;">Booked</span>
                </div>

                <div style="width: 100%;">
                    <div class="row" style="width: 90%;margin:auto;">

                        {% for date, true in widget.items %}
                            {% if true.1 == False %}
                                <div class="green"><span class="margin-auto__content" style="color:grey;">{{date}}</span></div>
                            {% else %}
                                <div class="red"><span class="margin-auto__content">{{date}}</span></div>
                            {% endif %}
                        {% endfor %}

                    </div>

                </div>
            </div>
        </div>

        <div class="contenedor_cincuenta">
            <div class="mesures">
                <div style="padding:10px;">
                    <h6> Total limpiezas </h6>
                    <h1>{{total_price_cleanings_current_month}}</h1>
                </div>
            </div>
            <div class="contenedor_cuarenta">
                <div class="text_title">
                <h3 class="">Enter a new booking </h3>
            </div>

                <!--  botones   -->
            <div class="btn-group ms-1" style="margin-bottom:20px; width:80%; ">
                  <button type="button" class="widthcincuenta btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" data-bs-display="static" aria-expanded="false">
                      {% if not current_room %}
                        property
                      {% else %}
                        {{current_room.name}}
                      {% endif %}

                  </button>
                  <ul  class="dropdown-menu">
                      {% for r in room %}
                        <li ><a name= 'dropdown' class="dropdown-item" href="{% url 'hotel:dashboardbookmonth' r.id %}">{{r.name}}</a></li>
                      {% endfor %}
                  </ul>
                  <button type="button" class=" widthcincuenta btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" data-bs-display="static" aria-expanded="false">
                     {% if not month %}
                        month
                      {% else %}
                        {{current_month}}
                      {% endif %}

                  </button>
                  <ul  class="dropdown-menu">
                      {% for m in month %}
                        <li ><a name= 'dropdown' class="dropdown-item" href="{%  url 'hotel:dashboardbookmonth' current_room.id m %}">{{m}}</a></li>
                      {% endfor %}
                  </ul>
            </div>



                {% if form.non_field_errors %}
                    <div class="alert alert-danger" role="alert">
                        {{ form.non_field_errors }}
                    </div>
                        {{ form.non_field_errors }}
                {% endif %}

                <div class="me-2 ms-3">
                    <form id="booking-form" action="" method="POST">
                        {{ formset.errors }}
                    {% csrf_token %}

                     <!-- Input Div -->
                    <div class="row">
                        <div class="col">
                            <div class="">
                            {{form.name | as_crispy_field }}
                            </div>
                             <!-- Input Div -->
                            <div class="">
                                {{form.last_name | as_crispy_field }}
                            </div>
                        </div>
                        <div class="col">
                              <!-- Input Div -->
                            <div class="">
                                {{form.email | as_crispy_field }}
                            </div>
                            <!-- Input Div -->
                            <div class="">
                                {{form.phone | as_crispy_field }}
                            </div>

                        </div>
                    </div>

                    <!-- Input Div -->
                    <div class="">
                        {{form.check_in | as_crispy_field }}
                    </div>

                    <!-- Input Div -->
                    <div class="">
                       {{form.check_out | as_crispy_field }}
                    </div>

                     <div class="">
                       {{form.price | as_crispy_field }}
                    </div>

                    <!-- Button submit  Div -->
                    <div class="">
                        <button type="submit" class="btn btn-primary" name="{{form.prefix}}" value="Submit"> book </button>
                    </div>

                    </form>
                </div>
            </div>
        </div>


        <div class="contenedor_cincuenta">
            <div class="mesures">
                <div style="padding:10px;">
                    <h6> 2023 </h6>
                    <h1>{{previous_month}}</h1>
                </div>
            </div>
            <div class="contenedor_cuarenta">
                <div style="">
                    <h3 class="text_title"> Bookings </h3>
                </div>

                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col"> Room </th>
                            <th scope="col"> checkin </th>
                            <th scope="col"> checkout </th>
                            <th scope="col"> price/night  </th>
                            <th scope="col"> total/price  </th>
                        </tr>
                    </thead>

                    <tbody>
                    <!-- Scrollable modal -->

                    {% for book in bookings %}
                        <tr>
                            <th scope="row">{{book.room}} </th>

                            <td class="letra_pequeña"> {{book.check_in_date}}</td>
                            
                            <td class="letra_pequeña"> {{book.check_out_date}}</td>
                            <td class="letra_pequeña"> {{book.price.price}}</td>
                            <td class="letra_pequeña"> {{book.total_bill_booking}}</td>
                            <td>
                            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                                Modificar
                            </button>
                            </td>
                        </tr>
                        <tr class="mini_list">
                            <th scope="row"> {{book.user.first_name}}</th>
                            <td class="mini_list"> {{book.user.last_name}}</td>
                            <td class="mini_list"> {{book.user.email}}</td>
                            <td class="mini_list"> {{book.user.userprofile.phone}}</td>

                        </tr>
<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        {% if form.non_field_errors %}
                    <div class="alert alert-danger" role="alert">
                        {{ form.non_field_errors }}
                    </div>
                        {{ form.non_field_errors }}
                {% endif %}

                <div class="me-2 ms-3">
                    <form id="modify" action="" method="POST">
                        {{ formset.errors }}
                    {% csrf_token %}

                     <!-- Input Div -->
                    <div class="row">
                        <div class="col">
                            <div>
                                <h1>{{book.room}}</h1>
                            </div>
                            <!--   -->
                            <div class="">
                            {{form.name | as_crispy_field }}
                            </div>

                            <div class="">
                                {{form.last_name | as_crispy_field }}
                            </div>
                        </div>
                        <div class="col">

                            <div class="">
                                {{form.email | as_crispy_field }}
                            </div>

                            <div class="">
                                {{form.phone | as_crispy_field }}
                            </div>

                        </div>

                    </div>

                    <!-- Input Div -->
                        {{form.book.room.as_hidden}}
                    <div class="">
                        {{form.check_in | as_crispy_field }}
                    </div>

                    <!-- Input Div -->
                    <div class="">
                       {{form.check_out | as_crispy_field }}
                    </div>

                     <div class="">
                       {{form.price | as_crispy_field }}
                    </div>

                    <!-- Button submit  Div -->
                    <div class="">
                        <a type="submit" class="btn btn-primary" name="modif-value" value="Submit" href=""> Modify </a>
                    </div>


                    </form>
                </div>
            </div>
      </div>

    </div>
  </div>

                    {% endfor %}
                    </tbody>

                </table>

            </div>


        </div>

    </div>

{% endif %}

{% endblock %}
