.green{
        width: 50px;           /* Ancho de 150 píxeles */
        height: 50px;          /* Alto de 150 píxeles */
        background: #FBF8F8;        /* Fondo de color rojo */
        margin :10px 10px 10px 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 10px 10px 10px 10px;

}
.red{
        width: 50px;           /* Ancho de 150 píxeles */
        height: 50px;          /* Alto de 150 píxeles */
        background: #A19C9C;        /* Fondo de color rojo */
        margin :10px 10px 10px 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 10px 10px 10px 10px;

}

.redmini{
        width: 20px;           /* Ancho de 150 píxeles */
        height: 20px;          /* Alto de 150 píxeles */
        background: #A19C9C;        /* Fondo de color rojo */
        display: flex;
        margin: 0 10px 0 10px;
        border-radius: 20px 20px 20px 20px;

}
.greenmini{
        width: 20px;           /* Ancho de 150 píxeles */
        height: 20px;          /* Alto de 150 píxeles */
        background: #FBF8F8;
        margin: 0 10px;
        display: flex;
        border-radius: 40px 40px 40px 40px;

}
.inline{
        display:flex;
        align-items:center;
        margin:20px;
}
#sidebar {
      width: 10%;
      height: 100vh;
      background: #343a40;

    }

#centerside {
      width:90%;
      height:100vh;
      margin: 5%;
    }