

.barra-2,
.barra-3 {
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    gap:10px;
    margin-bottom:10px;
}
.hijos {
    padding:20px;
    background:white;
    border-radius:20px;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.1);
    text-align:center;
    min-width:200px;

}
.hijos-2 {
      padding:20px;
    background:white;
    border-radius:20px;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.1);
    text-align:center;
    min-width:200px;
      }
@media screen and (max-width: 768px) {

  .barra-2,
   .barra-3{
    display: flex;
    flex-direction: row !important;  /* 👈 Forzamos la dirección en fila */
    overflow-x: auto;
    white-space: nowrap;
    margin-top:10px;
    -webkit-overflow-scrolling: touch;
  }

      .hijos {
      min-width:250px;
      min-height:300px;
      background:white;
      color:black;
      margin:10px;
      flex: 0 0 auto;
      display:flex;
      justify-content:center;
      align-items:center;
      }
      .hijos-2 {
      min-width:350px;
      min-height:150px;
      background:white;
      color:black;
      margin:10px;
      flex: 0 0 auto;
      display:flex;
      justify-content:center;
      align-items:center;
      border-radius:20px;
      box-shadow: 1px 1px 3px rgba(0,0,0,0.1);
      }


}