
.grid-container {
    display:grid;
    justify-content:center;
    grid-template-columns:repeat(2,1fr);
    gap:20px;
    padding:20px;
}

.bloque {
    padding:20px;
    border radius:8px;
    text-align:center;
    justify-content:center;
    align-items:center;
    items-align:center;
    background:white;
    border-radius:20px;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.1);
}

.bloque_wrap {
    justify-content:center;
    align-items:center;
    max-width:100%;
    display:flex;
    flex-wrap:wrap;
    margin:20px;
}
.bloque-overflow {
    padding:20px;
    grid-column: span 2;
    border radius:8px;
    max-width:100%;
    background:white;
    border-radius:20px;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.1);
    overflow-y: auto;

}
@media screen and (max-width:768px){
.grid-container {
    grid-template-columns:1fr;
    justify-items:center;
    justify-content:center;

    width:100%;
    }

.bloque {
    width:100%;
     overflow-x: auto;
}

.bloque-overflow {
    padding:20px;
    border radius:8px;
    overflow-x: auto;
    max-width:100%;

}
.bloque_wrap {
    justify-content:center;
    align-items:center;
    max-width:100%;
    display:flex;
    flex-wrap:wrap;
    height:auto;
    margin:20px;
}
}

.green{
        width: 50px;           /* Ancho de 150 píxeles */
        height: 50px;          /* Alto de 150 píxeles */
        background: #FBF8F8;        /* Fondo de color rojo */
        margin :5px 5px 5px 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 10px 10px 10px 10px;


}
.green:hover {
        cursor:pointer;
        width: 53px;           /* Ancho de 150 píxeles */
        height: 53px;


}
.red{
        width: 50px;           /* Ancho de 150 píxeles */
        height: 50px;          /* Alto de 150 píxeles */
        background: #A19C9C;        /* Fondo de color rojo */
        margin :5px 5px 5px 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 10px 10px 10px 10px;


}

.redmini{
        width: 20px;           /* Ancho de 150 píxeles */
        height: 20px;          /* Alto de 150 píxeles */
        background: #A19C9C;        /* Fondo de color rojo */
        display: flex;
        margin: 0 10px 0 10px;
        border-radius: 20px 20px 20px 20px;



}
.greenmini{
        width: 20px;           /* Ancho de 150 píxeles */
        height: 20px;          /* Alto de 150 píxeles */
        background: #FBF8F8;
        margin: 0 10px;
        display: flex;
        border-radius: 40px 40px 40px 40px;
        border: solid grey;

}


.widthcincuenta {
    width:40%;
    margin:5% 5% 5% 5%;
}

.mini_list {
    font-size: 15px;
    color: black;
    background-color:#FDE3EA;
    width:100%;
}
