body{
    background-color:#DCDCDC;
    margin-top:20px;

}

.cajon1 {
    width: 100%;
    display:flex;
    background-color:#DCDCDC;
    flex-direction: column;
    align-items: center;
}

.item1 {
    margin:30px;
    width:500px;
    display:flex;
    justify-content:center;


}
.item1-1 {
    justify-content:center;
}
