{% extends "base_dashboard.html" %}
{% load static %}

{% block title %}
    Gastos | By Colección
{% endblock %}

{% block extra-head %}
<link
    rel="stylesheet"
    href="{% static 'hotel/css/gastos_dashboard.css' %}"
>

<script
    src="https://cdn.jsdelivr.net/npm/chart.js@4.4.7/dist/chart.umd.min.js"
    defer
></script>

<script
    src="{% static 'hotel/js/gastos_dashboard.js' %}"
    defer
></script>
{% endblock %}

{% block content %}

<main
    class="gastos-page"
    id="gastos-dashboard"
    data-pais="{{ pais_actual }}"
    data-moneda="{{ codigo_moneda }}"
    data-simbolo="{{ simbolo_moneda }}"
>

    {% include "hotel/gastos/includes/_selector_pais.html" %}

    {% include "hotel/gastos/includes/_resumen.html" %}

    {% include "hotel/gastos/includes/_graficos.html" %}

    {% include "hotel/gastos/includes/_pendientes.html" %}

    {% include "hotel/gastos/includes/_movimientos.html" %}

    {% if es_espana %}
        {% include "hotel/gastos/includes/_gestoria.html" %}
    {% endif %}

    {% include "hotel/gastos/includes/_recurrentes.html" %}

</main>


{{ grafico_esperado_labels|json_script:"grafico-esperado-labels" }}
{{ grafico_esperado_valores|json_script:"grafico-esperado-valores" }}
{{ grafico_esperado_reales|json_script:"grafico-esperado-reales" }}
{{ grafico_esperado_colores|json_script:"grafico-esperado-colores" }}

{{ grafico_mes_labels|json_script:"grafico-mes-labels" }}
{{ grafico_mes_valores|json_script:"grafico-mes-valores" }}
{{ grafico_mes_colores|json_script:"grafico-mes-colores" }}

{{ grafico_mes_anterior_labels|json_script:"grafico-mes-anterior-labels" }}
{{ grafico_mes_anterior_valores|json_script:"grafico-mes-anterior-valores" }}
{{ grafico_mes_anterior_colores|json_script:"grafico-mes-anterior-colores" }}

{{ grafico_anio_labels|json_script:"grafico-anio-labels" }}
{{ grafico_anio_valores|json_script:"grafico-anio-valores" }}
{{ grafico_anio_colores|json_script:"grafico-anio-colores" }}

{{ comparativa_labels|json_script:"comparativa-labels" }}
{{ comparativa_valores|json_script:"comparativa-valores" }}
{{ comparativa_colores|json_script:"comparativa-colores" }}

{% endblock %}